* {
    margin: 0;
    padding: 0;
}

.filha1, .filha2 {
    background-color: red;
    width: 300px;
    height: 300px;
    margin: 10px;
    position: static;
}

.filha1 {
    position: absolute;
    background-color: red;
    z-index: 2;
    top: 50px;
    right: 50px;
}

.filha2 {
    position: relative;
    background-color: green;
    z-index: 1;
}